pipeline/1 Main Pipeline.json
{
	"name": "1 Main Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Hyderation File Migration",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Start Logs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "2 Hyderation file Movement",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Which Pipeline To Be Execute",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Hyderation File Migration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(substring(utcNow(),8,2),01)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Incremental Load Pipeline Load",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "4 Incremental Load",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ParentID": {
										"value": "@activity('Start Logs').output.firstRow.ID",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Full Load Every Months 1st Date pipeline Execute",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "3 Full Load Every Months 1st",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Execute Notebook Activity",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Which Pipeline To Be Execute",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "5 Notebook Script",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Start Logs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[log].[ADFPipelinelogstartHierarchy]",
						"storedProcedureParameters": {
							"p_adfName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"p_parentID": {
								"type": "Int32",
								"value": null
							},
							"p_pipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"p_runID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"p_runStart": {
								"type": "Datetime",
								"value": null
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Ds_SqlServer",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "End Logs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Notebook Activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[log].[ADFPipelinelogsendhierarchy]",
					"storedProcedureParameters": {
						"p_errorMessage": {
							"value": null,
							"type": "String"
						},
						"p_id": {
							"value": {
								"value": "@activity('Start Logs').output.firstRow.ID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_runEnd": {
							"value": null,
							"type": "Datetime"
						},
						"p_status": {
							"value": {
								"value": "@variables('SuccessStatus')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_SqlServer",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Email On Success",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "End Logs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-23.centralindia.logic.azure.com:443/workflows/07015301eb75405a98b79f0bb335040e/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=3lN9hfmf1GBXOwuJoiRk4wuf04IdYVzy1c_sXD89akc",
					"body": "{\"To\":\"publicconnecthub@gmail.com\",\"Subject\":\"ADF Main Pipeline Running Status \",\"Body\":\"Dear Public,\nThe Main Pipeline Has Successfully Completed, Now You can go For The Data.\nThanks& Regards\nCloud Team\"}"
				}
			},
			{
				"name": "Email On Failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "End Logs",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-23.centralindia.logic.azure.com:443/workflows/07015301eb75405a98b79f0bb335040e/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=3lN9hfmf1GBXOwuJoiRk4wuf04IdYVzy1c_sXD89akc",
					"body": "{\"To\":\"publicconnecthub@gmail.com\",\"Subject\":\"ADF Main Pipeline Running Status \",\"Body\":\"Dear Public,\nThe Main Pipeline Has Failed, Now You Have To Wait For The Data.\nThanks& Regards\nCloud Team\"}"
				}
			}
		],
		"variables": {
			"SuccessStatus": {
				"type": "String",
				"defaultValue": "Success"
			}
		},
		"folder": {
			"name": "Project"
		},
		"annotations": []
	}
}